<% include ../partials/header %>


    
    <header class = "jumbotron">
        <div class = "container">
            <h1 id = "title">Welcome to campgrounds page</h1>
            <h3 id = "title">This is a Yelp-like website created under instructions of Colt Steele on Udemy. </h3>
            <h3 id = "title">This website is only deployed for personal study.</h3>
            <p id = "intro"> In this website, you can first sign up and log in.
               Then, you can add new campgrounds, edit existing ones and delete them, as long as they were created by you. The comments part works similarly.
               The map location is also shown in the info page of each campground. The pictures are from Unsplash.com and the map location is conducted using Google map API. 
               More features and styling will be added in the future.
             </p>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new" >Add New Campground</a>
            <p>
                <form action = "/campgrounds" method = "GET" class = "form-inline">
                    <div class = "form-group">
                        <input type = "text" name = "search" placeholder = "Campground search" class = "form-control">
                        <input type = "submit" value = "Search" class = "btn btn-default">
                    </div>
                </form>
            </p>
        </div>
    </header>
  
    

    <div class = "row text-center" style = "display:flex; flex-wrap: wrap;">
        <div class = "col-md-12">
            <% if(noMatch !== undefined){%>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% campgrounds.forEach(function(campground){%>
            
            <div class = "col-lg-4 col-md-6 col-sm-12">
                <div class = "thumbnail">
                    
                    <img src = "<%= campground.image %>">
                    
                    <div class = "caption">
                        <h4><%= campground.name %></h4>
                        <h4><%= campground.location %></h4>
                    </div>
                   
                    <p>
                        <!--CANNOT ADD A SPACE BEFORE CAMPGROUNDID BECAUSE THAT WILL BE CONSIDERED INTO ADDRESS-->
                        <a href = "/campgrounds/<%= campground._id%>" class = "btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        
        <% });   %>
    
    </div>
    


<% include ../partials/footer %>